<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title th:text="${title}">My Profile</title>
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="header">
        <a class="header-logo">My Portfolio</a>
        <div>
          <a href="/auth/logout" method="post">
            <button type="submit" class="nav-btn">ログイン</button>
          </a>
        </div>
      </div>
    </header>

    <main class="pb-5 container main-content">
      <h1 class="text-center main-title">新規登録</h1>

      <form th:action="@{/auth/register}" th:object="${formModel}" method="post" novalidate class="form-container">
        <div class="form-group">
          <label>ユーザー名</label>
          <input type="text" class="form-control" th:field="*{name}" required>
          <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
          <label>メールアドレス</label>
          <input type="email" class="form-control" th:field="*{email}" required>
          <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
          <label>パスワード</label>
          <input type="password" class="form-control" th:field="*{passwordDigest}" required>
          <div class="text-danger" th:if="${#fields.hasErrors('passwordDigest')}" th:errors="*{passwordDigest}"></div>
        </div>



        <div class="button-wrapper">
          <button type="submit" class="submit-btn">登録する</button>
        </div>
      </form>
    </main>

    <!-- footer -->
    <footer>
      <div class="footer">portfolio site</div>
    </footer>
  </div>
</body>

</html>