<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title th:text="${title}">My Profile</title>

  <!-- 先にBootstrap、後からcustom.css（上書きのため） -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <header class="d-flex bg-primary justify-between align-items-center py-4">
    <h1 class="text-white d-flex">My Profile</h1>
    <div class="d-flex">
      <button class="btn bg-white">ログイン</button>
      <!-- <button class="btn btn-outline-secondary">ログアウト</button> -->
    </div>
  </header>

  <main class="pb-5 container ">
    <h1 th:text="${title}" class="text-center"></h1>

    <form class="mt-4 text-start" th:action="@{/register}" th:object="${formModel}" method="post">
      <div class="mb-3">
        <label class="form-label text-body text-opacity-50">ユーザー名</label>
        <input type="text" class="form-control" th:field="*{name}" required>
      </div>

      <div class="mb-3">
        <label class="form-label text-body text-opacity-50">メールアドレス</label>
        <input type="email" class="form-control" th:field="*{email}" required>
      </div>

      <div class="mb-3">
        <label class="form-label text-body text-opacity-50">パスワード</label>
        <input type="password" class="form-control" th:field="*{passwordDigest}" required>
      </div>

      <!-- Spring Security 使ってるならCSRFトークン -->
      <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">登録する</button>
      </div>
    </form>
  </main>

  <!-- 位置指定の代わりに Bootstrap の fixed-bottom を推奨 -->
  <footer class="bg-primary fixed-bottom w-100 text-center py-1">
    <p class="text-white">&copy; 2023 My Profile</p>
  </footer>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script> -->
</body>

</html>